.ContactDetailPage {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .topInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        .icon {
            height: 100px;
            width: 100px;
            background-color: #8735a2;
            margin-top: 20px;
            border-radius: 3px;
            font-size: 40px;
            line-height: 100px;
            text-align: center;
            color: white;
            z-index: 2;
        }

        .summaryPanel {
            position: relative;
            margin-top: -40px;
            width: 100%;
            height: 200px;
            background-color: white;
            border-style: solid;
            border-color: #E0E0E0;
            border-radius: 5px;
            border-width: 2px;
            z-index: 1;

            .editContact {
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 10px;
            }

            .innerBox {
                width: 100%;
                height: 75%;
                position: absolute;
                bottom: 8px;
                font-size: 15px;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .userName {
                    .userNameText {
                        font-size: 30px;
                        font-weight: bold;
                    }

                    .startIcon {
                        font-size: 20px;
                        display: inline;
                    }
                }

                .quickInfo {
                    .latestActivities {
                    }
                    .latestCall {
                    }
                    .mostCall {
                    }
                }
            }
        }
    }
}

